@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'love_ya_like_a_sisterregular';
    src: url(../fonts/loveyalikeasister.eot);
    src: url(../fonts/loveyalikeasister.eot?#iefix) format('embedded-opentype'),
         url(../fonts/loveyalikeasister.woff) format('woff'),
         url(../fonts/loveyalikeasister.ttf) format('truetype'),
         url(../fonts/loveyalikeasister.svg#love_ya_like_a_sisterregular) format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5 {
	font-family: 'love_ya_like_a_sisterregular' !important;
}

.login_box {
	font-family: 'love_ya_like_a_sisterregular' !important;
	font-size:24px;
}

.submitbox {
	font-family: 'love_ya_like_a_sisterregular' !important;
	font-size:18px;
}

.categories_top span, .recenr_categories_top span, .clients_inner_top span {
	font-family: 'love_ya_like_a_sisterregular' !important;
	font-size:15px;
}

.categories_middle form .submitbox {
	font-family: 'love_ya_like_a_sisterregular' !important;
}

.footer_submitbox {
	font-family: 'love_ya_like_a_sisterregular' !important;
	font-size:18px;
}
h3{font-size:30px;}
h5{font-size:24px;}
h1{font-size:70px;}
.yellowpart_part1 h2{font-size:50px;}
h2{font-size:40px;}
h4{font-size:25px;}


.form-blog.job-post .txt, .form-blog.job-post .txt2, {line-height:20 !important;}



